@model Tasks
@{
    ViewBag.Title = "Görev Detayları";
    Layout = "~/Views/Shared/_LayoutO.cshtml";
}

<br />
<div class="container">
    <h2>Görev Detayları</h2>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item">Başlık: @Model.Title</li>
                <li class="list-group-item">Açıklama : @Model.Description</li>
                <li class="list-group-item">Tür : @Model.Type</li>
                <li class="list-group-item">Tarih : @Model.Date</li>
                <li class="list-group-item">Saat : @Model.Time</li>
                <li class="list-group-item">Aktif Mi : @Model.IsActive</li>
            </ul>
            @Html.ActionLink(" Geri", "Index", "Student", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<br />